node_modules/
dist/
out/
.next/
.idea/
.env
react-tailwind-portfolio/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env.local
.env.*
server/.env
server/dist/
openbb_env/
